html{

    /*prevent user selection of the game elements*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;


}

body {
    font-size:1.5em;
    
    color: white;

    /* Disable double tap zoom in IE*/
    -ms-touch-action: manipulation !important;
/*
    background-image:url('/img/bgTreesGreen.png');
    background-repeat:repeat;
    background-color: blue;
    background-size:100px 100px;
*/
    /*background-color: blue;
    /*hearts
    background: 
    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
    */
    /*Green Stripes
    background-size: 50px 50px;
    background-color: #ac0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) 0 0 / 50px 50px #ac0;
    behavior: url(/pie/PIE.htc);
    */
    /*Carbon*/
     background-position: 0px 0px, 8px 8px, 0px 1px, 8px 9px; background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%); background-attachment: scroll, scroll, scroll, scroll; background-repeat: repeat, repeat, repeat, repeat; background-size: 16px 16px; background-origin: padding-box, padding-box, padding-box, padding-box; background-clip: border-box, border-box, border-box, border-box; background-color: rgb(40, 40, 40);
    /*Microbial Mat*/
    /*background-position: 0px 10px, 0% 0%, 0% 0%; background-image: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, rgb(102, 17, 51) 10px, rgba(96, 16, 48, 0) 11px), radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, rgb(102, 17, 51) 10px, rgba(96, 16, 48, 0) 11px), none; background-attachment: scroll, scroll, scroll; background-repeat: repeat, repeat, repeat; background-size: 20px 20px; background-origin: padding-box, padding-box, padding-box; background-clip: border-box, border-box, border-box; background-color: rgb(136, 170, 51);*/
    /*Zig Zag*/
    /*background-position: -50px 0px, -50px 0px, 0% 0%, 0% 0%; background-image: linear-gradient(135deg, rgb(236, 237, 220) 25%, transparent 25%), linear-gradient(225deg, rgb(236, 237, 220) 25%, transparent 25%), linear-gradient(315deg, rgb(236, 237, 220) 25%, transparent 25%), linear-gradient(45deg, rgb(236, 237, 220) 25%, transparent 25%); background-attachment: scroll, scroll, scroll, scroll; background-repeat: repeat, repeat, repeat, repeat; background-size: 100px 100px; background-origin: padding-box, padding-box, padding-box, padding-box; background-clip: border-box, border-box, border-box, border-box; background-color: rgb(236, 23, 58);*/


    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;

    padding-top: 50px;


}

#game {
  padding: 20px 15px;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#header {

    max-width:500px;
    margin-left: auto ;
    margin-right: auto ;

}

#totals {

    background-color: rgba(255,255,255,.5);
    max-width:500px;
    margin-left: auto ;
    margin-right: auto ;
    color:green;
    font-weight: bolder;
    font-size:x-large;
    border-radius: 20px;

}

.invert{
    width:100px;
    background-color: lightgray;
}

#items{
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgba(0,255,255,.4);
    max-width:500px;
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
    max-height: 60px;
    cursor:pointer;
}

.itemName {
    width: 500px;
    text-align: right;
    cursor:pointer;
}
.itemButton {
    font-size: 15pt;
    max-width: 320px;
    text-align: left;
    cursor:pointer;
    margin-top: 5px;
}
.itemButtonAlign {
    text-align: center;
}
.itemGroup {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: black;
    border: 1px solid #CCCCCC;
    height:100%;
}

#clickCover {
    width: 250px;
    height: 250px;
    background-color: gray;
    box-shadow: 0 0 0 5px black inset;
    border-radius: 250px;
    transform: scale(1);
    margin-left: auto ;
    margin-right: auto ;
    background-image:url('/img/plus-250.png');
    background-position: center;
    cursor: pointer;

}
.clickContainer {
    /*position: relative;*/
    /*width:95%;*/
    margin-top: 50px;
    background-color: transparent;
    /*background-color: rgba(0,0,255,0.5);*/
    border-radius: 50px;
    min-height: 300px;
}
#totalCps #totalCurrency {
    font-family: 20pt;
    /*text-shadow: 2px 2px 2px #000;*/
    /*width: 100%;*/
    color:blue;
    text-align: center;
    vertical-align: text-middle;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-device-width: 1024px) {

    #items {
        max-height: 80px;
        min-width:120px;
    }
    .itemName {
        vertical-align:text-bottom;
    }
    .itemSymbol {
        transform:scale(1);
        -webkit-transform:scale(1);
        top:-15px;
    }
    .itemButton {
        font-size: 10pt;
        max-width: 240px;
        min-width: 160px;

    }
    .itemGroup {
        min-width:120px;
    }


    #clickCover {
        width: 120px;
        height: 120px;
        background-image:url('/img/plus-120.png');

    }
    .clickContainer {
        min-height: 130px;
    }
    #totalCps #totalCurrency {
        font-size: 15pt;
        
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .itemNameDiv {
        display:none;
    }
    .itemSymbol {
        transform:scale(0.8);
        -webkit-transform:scale(0.8);
        top:-15px;
    }
    .itemButton {
        font-size: 10pt;
        max-width: 120px;

    }
 
    #totals {
        max-width:500px;
    }

    #clickCover {
        width: 120px;
        height: 120px;
        background-image:url('/img/plus-120.png');
    }
    .clickContainer {
        min-height: 140px;
    }
    #totalCps #totalCurrency {
        font-size: 15pt;
    }
}`
/* Landscape phones and down */
@media only screen and (max-device-width: 480px) {
    #items {
        max-height: 50px;
    }
    .itemNameDiv {
        display:none;
    }
    .itemSymbol {
        transform:scale(1);
        -webkit-transform:scale(1);
        top:-15px;
    }
    .itemButton {
        max-width: 120px;
        /*height:50px*/
    }

    #totals {
        max-width:500px;
    }

    #clickCover {
        width: 120px;
        height: 120px;
        background-image:url('/img/plus-120.png');        

    }
    .clickContainer {
        min-height: 120px;
    }
    #totalCps #totalCurrency {
        font-size: 15pt;
    }
}

button {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #FFFFFF 0 1px 0;
    color: #333333;
    /*font-size: 30px;*/
    font-family: Arial, Helvetica, Serif;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}
button:hover {
    border: 1px solid #CCCCCC;
    text-shadow: #FFFFFF 0 1px 0;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    color: #333333;
    text-decoration: none;
}
button:active {
    text-shadow: #FFFFFF 0 1px 0;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
    color: #333333;
}

button:disabled{
    color:gray;
}


.itemButtonProgress{
    width:50px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}

.itemButtonProgres::-webkit-progress-bar{
    width:50px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
}

.itemButtonProgres::-webkit-progress-value{
    width:30px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
}

#coins{
    vertical-align: middle;
    max-width: 40px;
}

#cps{
    vertical-align: middle;
    max-width: 40px;
}

.svgScale{
    max-width: 40px;
    max-height: 40px;

}
.attributionHolder{

}
.attribution{
    font-size: 12pt;
    color:white;
}
.update{
    font-size: small;
}

.expand{
    background-color: red;
    border-radius: 20px;
    max-height:8px;
    font-size: 8px;
    display: inline-block;
    height: 8px;
}

.clickAnimationPlus {
    font-family: 'Asimov','Eras Bold ITC','Cooper Black';
    font-weight: 500;

    position: absolute;
    /*top: 50%;
    left: 50%;*/
    /*text-shadow: 2px 2px 2px #000;*/
    animation: visualClickAnimation 1s ease-in 1;
    -webkit-animation: visualClickAnimation 1s ease-in 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

}
.clickAnimationCircle {
    animation: shrinkGrow .15s ease-out 1;
    -webkit-animation: shrinkGrow .15s ease-out 1;
}

/*CSS Animations to spice it up a bit*/
@keyframes shrinkGrow {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.85);
        opacity: .6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes shrinkGrow {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(.90);
        opacity: .9;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes visualClickAnimation {
    0% {
        opacity: 1;
        font-size: small;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        opacity: .1;
        font-size: 1000pt;
        margin-top: -50px;
        margin-left: -50px;
    }
}

@-webkit-keyframes visualClickAnimation {
    0% {
        opacity: 1;
        font-size: small;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        opacity: .1;
        font-size: 1000pt;
        margin-top: -50px;
        margin-left: -50px;
    }
}
