html{

    /*prevent user selection of the game elements*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;


}

body {
    font-size:1.5em;
    
    color: white;

    /* Disable double tap zoom in IE*/
    -ms-touch-action: manipulation !important;

    /*Carbon*/
     background-position: 0px 0px, 8px 8px, 0px 1px, 8px 9px; background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%); background-attachment: scroll, scroll, scroll, scroll; background-repeat: repeat, repeat, repeat, repeat; background-size: 16px 16px; background-origin: padding-box, padding-box, padding-box, padding-box; background-clip: border-box, border-box, border-box, border-box; background-color: rgb(40, 40, 40);


    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;

    padding-top: 50px;

}

#animationDiv{

    position: fixed;
    width:100%;
    height: 100%;
    background-color: transparent;


}


#game {

  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#header {

    max-width:500px;
    margin-left: auto ;
    margin-right: auto ;

}

#clickButtonRow{

    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

}

#buttonCarousel{
    margin-top: 10px;
    height: 125px;

}


#sellButtonCarousel{
    margin-top: 10px;
    height: 100px;

}

#totals {

    background-color: transparent;
    max-width:100%;

    color:white;
    font-weight: bolder;

    font-size:20pt;
    text-align: left;

    margin-top: 50px;

}

.invert{
    width:100px;
    background-color: lightgray;
}

#purchases{
    text-align: left;
    color:white;
    font-weight: 600;

}

#items{
    margin-top: 5px;
    border-radius: 20px;
    background-color: darkslategrey;
    max-width:700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    cursor:pointer;
}

.itemName {
    width: 500px;
    text-align: right;
    cursor:pointer;
}
.itemButton {
    min-width: 85px;
    font-size: 15pt;
    max-width: 320px;
    text-align: left;
    cursor:pointer;
    margin-top: 5px;
}
.itemButtonAlign {
    text-align: center;
}
.itemGroup {
    border: 1px solid grey;
    background-color: grey;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: black;
    border: 1px solid #CCCCCC;
    height:60px;
    width:60px;
}


.sellButton {
    min-width: 50px;
    font-size: 10pt;
    max-width: 80px;
    text-align: center;
    cursor:pointer;
    margin-top: 5px;
    margin-bottom: 5px;    
}


#clickCover {
    width: 250px;
    height: 250px;
    background-color: gray;
    box-shadow: 0 0 0 5px white inset;
    border-radius: 250px;
    background-size: 250px;
    margin-left: auto ;
    margin-right: auto ;
    background-image:url('/images/svg/plus.svg');
    background-position: center;
    cursor: pointer;

}
.clickContainer {

    margin-top: 50px;
    background-color: transparent;
    /*background-color: rgba(0,0,255,0.5);*/
    border-radius: 50px;
    min-height: 300px;
}




button {
    /*width: 65px;*/
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #FFFFFF 0 1px 0;
    color: #333333;
    /*font-size: 30px;*/
    font-family: Arial, Helvetica, Serif;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}
button:hover {
    border: 1px solid #CCCCCC;
    text-shadow: #FFFFFF 0 1px 0;
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    color: #333333;
    text-decoration: none;
}
button:active {
    text-shadow: #FFFFFF 0 1px 0;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
    color: #333333;
}

button:disabled{
    color:gray;
}


.itemButtonProgress{
    width:50px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}

.itemButtonProgres::-webkit-progress-bar{
    width:50px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
}

.itemButtonProgres::-webkit-progress-value{
    width:30px;
    display:run-in;
    /*top:-50px;*/
    position: relative;
    /*background-color: black;*/
    border-radius: 20px;
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
}

#coins{
    vertical-align: middle;
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

#cps{
    vertical-align: middle;
    max-width: 40px;
    max-height: 40px;

}

.svgScale{
    max-width: 40px;
    max-height: 40px;
}

.svgSellScale{
    max-width: 40px;
    max-height: 40px;
}



.attribution{
    font-size: 10pt;
    color:black;
    margin: 5px;
    width:100px;
    height: 100px;
    padding: 0px;
}

.attrib{
    width:50px;
}

.update{
    font-size: small;
}

.expand{
    background-color: red;
    border-radius: 20px;
    max-height:8px;
    font-size: 8px;
    display: inline-block;
    height: 8px;
}

.clickAnimationPlus {
    font-family: 'Asimov','Eras Bold ITC','Cooper Black';
    font-weight: 500;

    position: absolute;
    /*top: 50%;
    left: 50%;*/
    /*text-shadow: 2px 2px 2px #000;*/
    animation: visualClickAnimation 1s ease-in 1;
    -webkit-animation: visualClickAnimation 1s ease-in 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    z-index: 100;

}
.clickAnimationCircle {
    animation: shrinkGrow .15s ease-out 1;
    -webkit-animation: shrinkGrow .15s ease-out 1;
}

/*CSS Animations to spice it up a bit*/
@keyframes shrinkGrow {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.85);
        opacity: .6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes shrinkGrow {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(.90);
        opacity: .9;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes visualClickAnimation {
    0% {
        opacity: 1;
        font-size: small;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        opacity: .1;
        font-size: 1000pt;
        margin-top: -50px;
        margin-left: -50px;
    }
}

@-webkit-keyframes visualClickAnimation {
    0% {
        opacity: 1;
        font-size: small;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        opacity: .1;
        font-size: 1000pt;
        margin-top: -50px;
        margin-left: -50px;
    }
}




/* Landscape phone to portrait tablet */
@media (max-width: 1280px) {

    #items {
        max-width: 500px;
    }

    .itemNameDiv {
        display:none;
    }
    .itemSymbol {
        transform:scale(0.8);
        -webkit-transform:scale(0.8);
        top:-15px;
    }
    .itemButton {
        min-width: 65px;
        font-size: 10pt;
        max-width: 120px;
    }

    .sellButton {
        min-width: 50px;
        font-size: 10pt;

        margin-top: 3px;
        margin-bottom: 3px;    
    }

 
    #totals {

        font-size: 15pt;
        margin-top: 50px;
        margin-left:100px;

    }

    #buttonCarousel{
        margin-top: 10px;
        height: 90px;
    }       

    #sellButtonCarousel{
        margin-top: 10px;
        height: 80px;

    }

    .svgSellScale{
        max-width: 30px;
        max-height: 30px;
    }       

    #clickCover {
        width: 120px;
        height: 120px;
        background-image:url('/images/svg/plus.svg');
        background-size: 120px;
    }
    .clickContainer {
        margin-top: 50px;
        margin-right:50px;
        min-height: 140px;
    }

}
/* Landscape phones and down */
@media (max-width: 585px) {
    #items {
        max-width: 300px;
        padding-top: 0px;
        margin-top: 0px;

    }
    .itemNameDiv {
        display:none;
    }
    .itemSymbol {
        transform:scale(.8);
        -webkit-transform:scale(.8);
        top:-15px;
    }
    .itemButton {
        min-width: 50px;
        max-width: 120px;
        font-size: 8pt;
        /*height:50px*/
    }

    .itemButtonProgress{
        width:30px;

    }

    .itemButtonProgres::-webkit-progress-bar{
        width:30px;

    }

    .itemButtonProgres::-webkit-progress-value{
        width:20px;

    }

    #buttonCarousel{
        margin-top: 10px;
        height: 130px;
    }    

    #sellButtonCarousel{
        margin-top: 10px;
        height: 130px;

    }

    #totals {

        font-size: 12pt;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left:10px;
    }

    .svgSellScale{
        max-width: 30px;
        max-height: 30px;
    }    

    #clickCover {
        width: 120px;
        height: 120px;
        background-image:url('/images/svg/plus.svg');        
        background-size: 120px;
    }
    .clickContainer {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-right:10px;
        min-height: 120px;
    }

    .container-fluid{

        padding-left: 5px;
    }

    .col-xs-6{
        padding-left:0px;
    }

    #coins{
        max-width: 30px;
        max-height: 30px;
        margin-right: 5px;
    }    

}

@media screen and (orientation:landscape) and (max-width: 1280px) { 

    #buttonCarousel{
        margin-top: 5px;
        height: 70px;
    }  

    #items {
        max-width: 500px;
        padding-top: 0px;
        margin-top: 0px;
        background-color: blue;
    }

    #sellButtonCarousel{
        margin-top: 5px;
        height: 70px;

    }

    #totals {
        margin-top:25px;
        margin-left:10px;
    }  

    .clickContainer {
        margin-top: 35px;

    }    

}

